*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 103px;
    height: 31px;
    margin-top: 15px;
}
.logo span{
    margin-top: 10px;
    font-size: 14px;
}
.main-sec{
    width: 296px;
    height: 240px;
    padding: 20px 26px; 
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 30px auto 25px auto;

}
.main-sec h1{
    font-weight: 400;
    font-size: 20px;
}
.main-sec label{
    font-size: 13px;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
}
.main-sec input{
    width: 272px;
    height: 25px;
    padding: 3px 7px;
    margin-top: 3px;
    background-color: #fff;
    border: 1px solid #a6a6a6;
    border-radius: 4px;
}
.main-sec button{
    width: 288px;
    height: 31px;
    margin-top: 15px;
    background-color: #f0c14b;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    background-image: linear-gradient(#f7da90,#e2b33b,);
    border-radius: 3px;
}
.main-sec p, .main-sec p a{
    font-size: 12px;
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: #0066c0;
}
a:hover{
    text-decoration: underline;
}
.main-sec a{
    margin-top: 10px;
    font-size: 13px;
}
.icon::before{
    display: inline-block;
    content: "";
    border-top: 4px solid transparent;
    border-left: 4px solid #949494;
    border-bottom: 4px solid transparent;
    margin-right: 10px;
}
.sec-2 p{
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
}
.sec-2, .btn{ 
    display: flex;
    justify-content: center;
}
.sec-2::before,.sec-2::after{
    content: "";
    position: relative;
    top: 5px;
    display: inline-block; 
    width: 120px;
    border-top: 1px solid #e7e7e7;
}
.btn button{
    width: 348px;
    height: 31px;
    margin: 15px auto; 
    background-color: #e7e9ec;
    background: linear-gradient(#f9f9fa,#e7e7ec);
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
}
footer .links{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 10px auto 15px auto;
}
footer .links a{
    font-size: 12px;
}
footer::before{
    content: "";
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    height: 44px;
    margin-top: -35px;
    border-top: 1px solid transparent;
    box-shadow: 0 1px 15px -20px #333;
}
footer p{
    font-size: 11px;
    color: #555;
    text-align: center;
}